altgraph==0.17.4
annotated-types==0.6.0
asgiref==3.7.2
caer==2.0.8
chardet==5.2.0
contourpy==1.1.0
customtkinter==5.2.2
cycler==0.11.0
darkdetect==0.8.0
DateTime==5.5
dj-database-url==2.1.0
Django==4.2.4
django-bootstrap-datepicker-plus==5.0.5
fonttools==4.42.1
gunicorn==21.2.0
kiwisolver==1.4.5
macholib==1.16.3
matplotlib==3.7.2
modulegraph==0.19.6
mypy==1.5.1
mypy-extensions==1.0.0
numpy==1.25.2
opencv-contrib-python==4.8.0.76
packaging==23.1
Pillow==10.0.0
psycopg2-binary==2.9.9
py2app==0.28.7
pydantic==2.6.4
pydantic_core==2.16.3
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.0.9
PyQt5==5.15.10
PyQt5-Qt5==5.15.12
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytz==2024.1
reportlab==4.2.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
zope.interface==6.3
